{% extends "base.html" %}

{% load static %}

{% block title %} Dra. Janaina Salgado - Gastropediatra | Agendamento {% endblock %}

{% block extra_css %}

<style>


    .section-form {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: var(--nav-height);
        padding-bottom: 40px;
        background-color: rgb(240, 236, 236);
        min-height: 100vh;
    }

    .container-form-consultation {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        max-width: 460px;
        padding: 36px;
        border-radius: 26px;
        box-shadow: 0 6px 25px rgba(0,0,0,0.08);
        background-color: #FFF;
    }

    .form-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
    }

    .form-icon {
        width: 90px;
        height: auto;
        transition: transform 0.4s ease;
    }

    .form-icon:hover {
        transform: scale(1.08);
    }

    .title-form-consultation {
        text-align: center;
        font-size: 28px;
        color: rgb(193, 186, 186);
        line-height: 1.1;
        font-weight: 600;
    }

    .break {
        display: block;
    }

    .form-consultation {
        width: 100%;
    }

    .form-content {
        width: 100%;
    }

    .text-form-content {
        font-size: 16px;
        font-weight: 500;
        color: #90a1b9;
        margin-left: 6px;        
    }

    .form-input{
        width: 100%;
        padding: 14px 16px;
        border: 1px solid #DDD;
        border-radius: 8px;
        background-color: #f4f6f8;
        font-size: 16px;
        outline: none;
        transition: border-color 0.2s ease, box-shadow 0.2s ease;
    }

    .form-input:focus {
        background-color: #FFF;
        border: 2px solid #d27177;
        box-shadow: 0 4px 8px rgba(213, 147, 147, 0.3);
        outline: none;
    }

    .select-wrapper {
        position: relative;
    }

    .select-arrow {
        position: absolute;
        top: 50%;
        color: #333; 
        right: 16px;
        transform: translateY(-50%);
        transition: transform 0.3s ease; 
    }

    .select-wrapper.active .select-arrow {
        transform: translateY(-50%) rotate(180deg);
    }
    
    .input-selection {
        appearance: none;
        color: #333; 
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .form-error {
        color: #d32f2f;
        margin-top: 6px;
        margin-left: 6px;
        font-size: 14px;
    }

    .form-error ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .btn-form-whatsapp {
        width: 100%;
    }

    .btn-link-style {
        width: 100%;
        padding: 14px;
        color: #FFF;
        background-color: #0c8f54;
        border: 1px solid #DDD;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.6s ease;
    }

    .btn-link-style:hover {
        background-color: #096c3f;
    }

</style>

{% endblock %}

{% block content %}

<!-- Form Whatsapp -->
<section class="section-form">
    <form method="post" novalidate class="container-form-consultation">
        <div class="form-header">
            <img src="{% static 'home/icons/icon/icon-drajanaina.png' %}" class="form-icon">
            <h3 class="title-form-consultation">
                Consultório 
                <span class="break">
                    Dra. Janaina
                </span>
            </h3>
        </div>

        {% csrf_token %}
        
        {{ form.non_field_errors }}

        <div class="form-consultation">
            <div class="form-content">
                <label class="text-form-content">
                    Responsável:
                </label>
                    {{ form.responsavel }}

                {% if form.responsavel.errors %}
                    <div class="form-error">
                        {{ form.responsavel.errors }}
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class="form-consultation">
            <div class="form-content">
                <label class="text-form-content">
                    Paciente:
                </label>
                {{ form.paciente }}

                {% if form.paciente.errors %}
                    <div class="form-error">
                        {{ form.paciente.errors }}
                    </div> 
                {% endif %}
            </div>
        </div>
        
        <div class="form-consultation">
            <div class="form-content">
                <label class="text-form-content">
                    Parentesco:
                </label>
                <div class="select-wrapper">
                    {{ form.parentesco }}
                    <i class="fa-solid fa-angle-down select-arrow"></i>
                </div>

                {% if form.parentesco.errors %}
                    <div class="form-error">
                        {{ form.parentesco.errors }}
                    </div> 
                {% endif %}
            </div>
        </div>
        
        <div class="form-consultation">
            <div class="form-content">
                <label class="text-form-content">
                    Data de nascimento:
                </label>
                {{ form.data_nascimento }}

                {% if form.data_nascimento.errors %}
                    <div class="form-error">
                        {{ form.data_nascimento.errors }}
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class="form-consultation">
            <div class="form-content">
                <label class="text-form-content">
                    Telefone:
                </label>
                {{ form.telefone }}

                {% if form.telefone.errors %}
                    <div class="form-error">
                        {{ form.telefone.errors }}
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class="form-consultation">
            <div class="form-content">
                <label class="text-form-content">
                    Cidade:
                </label>
                {{ form.cidade }}

                {% if form.cidade.errors %}
                    <div class="form-error">
                        {{ form.cidade.errors }}
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class="form-consultation">
            <div class="form-content">
                <label class="text-form-content">
                    Bairro:
                </label>
                {{ form.bairro }}

                {% if form.bairro.errors %}
                    <div class="form-error">
                        {{ form.bairro.errors }}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="btn-form-whatsapp">
            <button type="submit" class="btn-link-style">
                Enviar para Whatsapp
            </button>
        </div>
    </form>
</section>

{% endblock %}

{% block footer %}

{% endblock %}

{% block extra_scripts %}

<script>

document.addEventListener("DOMContentLoaded", function() {

    // DOM Elements
    const campos = document.querySelectorAll("input");
    const select = document.querySelector(".input-selection");
    const wrapper = document.querySelector(".select-wrapper");
    const data_nascimento = document.getElementById("id_data_nascimento");
    const telefone = document.getElementById("id_telefone");

    // Function Enter
    campos.forEach((campo, index) => {

        campo.addEventListener("keydown", function(event) {

            if (event.key === "Enter") {

                event.preventDefault();

                // Impede passar de primeira, mas não valida 
                if (!campo.checkValidity()) return;

                const proximoCampo = campos[index + 1];

                if (proximoCampo) {
                    proximoCampo.focus();
                }
            }
        });
    });

    // Campo Select
    select.addEventListener('focus', () => {
        wrapper.classList.add('active');
    });

    select.addEventListener('blur', () => {
        wrapper.classList.remove('active');
    });

    // Campo Data
    if (data_nascimento) {

        // Limite de ano de nascimento (menores de 18 anos)
        const anoAtual = new Date().getFullYear();
        const anoMinimo = anoAtual - 18;

        IMask(data_nascimento, {
            mask: Date,
            pattern: 'd{/}m{/}Y',

            // Limites de validação para data
            blocks: {
                d: {
                    mask: IMask.MaskedRange,
                    from:1,
                    to: 31
                },
                m: {
                    mask: IMask.MaskedRange,
                    from:1,
                    to: 12
                },
                Y: {
                    mask: IMask.MaskedRange,
                    from: anoMinimo,
                    to: anoAtual
                }
            },

            // Converte Date para DD/MM/AAAA
            format: function (date) {
                const day = String(date.getDate()).padStart(2, '0');
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const year = date.getFullYear();
                return `${day}/${month}/${year}`;
            },

            // Converte DD/MM/AAAA para Date
            parse: function (str) {
                const [d, m, y] = str.split('/');
                return new Date(y, m -1, d);
            }
        });
    }

    // Campo Telefone
    if (telefone) {
        IMask(telefone, {
            mask: [
                { mask : "(00) 0000-0000"},
                { mask : "(00) 00000-0000"}
            ]
        });
    }
});

</script>

{% endblock %}