{% extends "base.html" %}

{% load static %}

{% block title %} Gastropediatria | Início {% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'home/css/home.css' %}">

{% endblock %}

{% block content %}

<section class="hero">
    <div class="container-hero">

        <div class="container-hero-text">

        <div class="box-highlight">
            <i class="fa-regular fa-circle-check icon-over" style="color: rgb(246, 130, 138);"></i>
            <p>Membro da Sociedade Brasileira de Pediatria</p>
        </div>    
            
            <h2 class="hero-title">
                CUIDANDO DO SEU FILHO
                <span class="break">
                    COM AMOR E <span class="text-highlight">ESPECIALIDADE</span>
                </span>
            </h2>

            <p class="hero-text">
                Gastroenterologia Pediátrica dedicada ao bem-estar digestivo
                <span class="break">e nutricional de bebês e crianças.</span>
            </p>
            
            <div class="hero-btn">
                <a href="{% url 'agendar_consulta' %}" class="btn-schedule">
                    <i class="fa-regular fa-calendar"></i>
                    Agende sua Consulta
                </a>

                <a class="card-btn" 
                    href="https://instagram.com/hiramsimoes"
                    target="_blank"
                    rel="noopener noreferrer">
                    Saiba mais >
                </a>
            </div>

            <p class="hero-note">
                Agende sua consulta ou veja mais informações no instagram.
            </p>

        </div>

        <img src="{% static 'home/img/drajanainasalgado.webp' %}"
        alt="Imagem médica Dra. Janaina Salgado em ambiente clínico"  
        loading="lazy"
        class="hero-img">

    </div>
</section>

<section class="card-section">
    <div class="title-card-section">
        <h3 class="title-primary">Como podemos ajudar seu filho?</h3>
        <p>Atendimento focado no diagnóstico, tratamento e orientação nutricional infantil.</p>
    </div>
    
    <div class="container-card">        
        <div class="column-card card">
            <div class="column-card-header">
                <img src="{% static 'home/svg/stomach.svg' %}">
            </div>

            <h2 class="title-card">Problemas Digestivos</h2>
            
            <p class="text-soft">
                Diagnóstico e tratamento de refluxo, constipação, diarreia, dores abdominais e outros sintomas gastrointestinais em crianças
            </p>
            
        </div>

        <div class="column-card card">
            <div class="column-card-header">
                <img src="{% static 'home/svg/plan.svg' %}">
            </div>

            <h2 class="title-card">Acompanhamento Nutricional</h2>
            
            <p class="text-soft">
                Orientação nutricional personalizada para promover o crescimento saudável e o desenvolvimento pleno do seu filho
            </p>

        </div>
        
        <div class="column-card card">
            <div class="column-card-header">
                <img src="{% static 'home/svg/healthcare.svg' %}">
            </div>

            <h2 class="title-card">Atenção Integral e Cuidado</h2>
            
            <p class="text-soft">
                Tratamentos direcionados às necessidades individuais de cada criança, promovendo saúde digestiva completa e bem-estar
            </p>
        
        </div>
        
        <div class="column-card card">
            <div class="column-card-header">
                <img src="{% static 'home/svg/check-up.svg' %}">
            </div>

            <h2 class="title-card">Acompanhamento do Crescimento</h2>
            
            <p class="text-soft">
                Monitoramento do desenvolvimento físico e nutricional da criança, garantindo crescimento saudável em cada fase da infância.
            </p>
        
        </div>
        
        <div class="column-card card">
            <div class="column-card-header">
                <img src="{% static 'home/svg/digestive.svg' %}">
            </div>

            <h2 class="title-card">Prevenção em Saúde Digestiva</h2>
            
            <p class="text-soft">
                Orientações preventivas para evitar problemas gastrointestinais, promovendo hábitos saudáveis desde os primeiros anos de vida.
            </p>
        
        </div>

        <div class="btn-column-card card">
            <h2>Acompanhe conteúdos educativos</h2>

            <p>Publicações com orientações práticas sobre saúde digestiva infantil e desenvolvimento.</p>

            <a class="card-btn" href="https://instagram.com/hiramsimoes" target="_blank" rel="noopener noreferrer">
                Ver Conteúdos</a>
        </div>
        
    </div>
</section>

<section class="py-5 over-section" id="sobre">
    <div class="grid-container-over">
        <div class="column-over">
            <h3 class="title-over">
                Por que escolher
                <span class="break">a Dra. Janaina?</span>
            </h3>

            <p class="text-informative-over">
                Com mais de 10 anos de experiência em gastroenterologia pediátrica,
                a Dra. Janaina oferece um atendimento personalizado e de qualidade
                para garantir o bem-estar digestivo e nutricional do seu filho.
            </p>

            <ul class="container-mini-over">
                <li class="item-over">
                    <i class="fa-regular fa-circle-check icon-over"></i>
                    <p class="item-informative-over">
                        Experiência e especialização em Gastro Pediatria
                    </p>
                </li>

                <li class="item-over"> 
                    <i class="fa-regular fa-circle-check icon-over"></i>
                    <p class="item-informative-over">
                        Atendimento Humanizado e individualizado
                    </p>
                </li>

                <li class="item-over">
                    <i class="fa-regular fa-circle-check icon-over"></i>
                    <p class="item-informative-over">
                        Ambiente Acolhedor e pensado para crianças
                    </p>
                </li>
                
                <li class="item-over">
                    <i class="fa-regular fa-circle-check icon-over"></i>
                    <p class="item-informative-over">
                        Acompanhamento contínuo e próximo da família
                    </p>
                </li>
            </ul>
        </div>
        
        <div class="card-informative-over">
            <div class="info-item">
                <i class="fa-regular fa-user"></i>
                
                <div class="info-text">
                    <span class="value">10+ anos</span>
                    <span class="label">de experiência</span>
                </div>
            </div>

            <div class="info-item">
                <i class="fa-solid fa-graduation-cap"></i>
                <div class="info-text">
                    <span class="value">Gastro Pediátrica</span>
                    <span class="label">especialização médica</span>
                </div>
            </div>

            <div class="info-item">
                
                <div class="info-text">
                    <span class="value">Atendimento humanizado</span>
                    <span class="label">foco no paciente</span>
                </div>
            </div>
        </div>

        <div class="consult-process">
            <div class="consult-process-container">
                <h2 class="consult-process-title">Consulta</h2>
        
                <ul class="consult-process-content">
                    <li>
                        <span class="text">Escuta detalhada dos sintomas</span>
                        <span class="icon">
                            <i class="fa-solid fa-arrow-right fa-xl" style="color: var(--color-accent-primary);"></i>
                        </span>
                    </li>
                    <li>
                        <span class="text">Avaliação clínica</span>
                        <span class="icon">
                            <i class="fa-solid fa-arrow-right fa-xl" style="color: var(--color-accent-primary);"></i>
                        </span>
                    </li>
                    <li>
                        <span class="text">Orientação alimentar</span>
                        <span class="icon">
                            <i class="fa-solid fa-arrow-right fa-xl" style="color: var(--color-accent-primary)"></i>
                        </span>
                    </li>
                    <li>
                        <span class="text">Plano de tratamento personalizado</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section-carousel" id="depoimentos">
    <h3 class="title-primary">
        Depoimentos
    </h3>
    
    <div class="carousel-container">
        <div class="carousel-viewport">
            <div class="carousel-track" id="carouselTrack">
                {% for item in carousel %}

                <div class="carousel-card">
                    <div class="carousel-card-content">
                        <div class="quote">
                            <i class="fa-solid fa-quote-left" style="color: rgba(0,0,0,0.15);"></i>
                        </div>
                        
                        <div class="star"> 
                            "
                            {% for _ in item.stars_range %}
                            <i class="fa-solid fa-star" style="color: rgb(251, 206, 46);"></i>
                            {% endfor %}
                            " 
                        </div>

                        <p>{{ item.comment }}</p>
                            
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>

    </div>
</section>

<!--

<section class="cta-final">
    <h2>Agende uma consulta e cuide da saúde do seu filho</h2>

    <a class="btn-schedule" href="{% url 'agendar_consulta' %}">Agendar consulta</a>
</section>
-->

{% endblock %}

{% block extra_scripts %}

<script src="{% static 'home/js/script.js' %}" defer></script>

{% endblock %}