{% extends "base.html" %}

{% load static %}

{% block title %} Dra. Janaina Salgado - Gastropediatra | Início {% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'home/css/home.css' %}">

{% endblock %}

{% block content %}

<section class="hero">
    <div class="container-hero">

        <div class="container-hero-text"> 
            
            <div class="hero-content">

                <h1 class="hero-title">
                    Cuidando da saúde do seu filho com
                    <span class="break">
                        <span class="text-highlight">acolhimento e atenção especializada</span>
                    </span>
                </h1>
                
                <p class="hero-text">
                    Orientação e acompanhamento especializado para ajudar famílias
                    no cuidado digestivo e nutricional de bebês e crianças.
                </p>
                
            </div>
            
            <div class="hero-actions">
                <a href="{% url 'agendar_consulta' %}" class="btn-schedule">
                    <i class="fa-regular fa-calendar"></i>
                    Agende sua Consulta
                </a>

                <a class="btn-instagram btn-instagram-hero" 
                    href="https://instagram.com/drajanainagastroped"
                    target="_blank"
                    rel="noopener noreferrer">
                    Saiba mais >
                </a>
            </div>

            <p class="hero-note">
                Agende sua consulta ou veja mais informações no instagram.
            </p>

        </div>
        
    </div>
</section>

<section class="card-section">
    <div class="container">

        <div class="title-card-section">
            <div class="text-label">
                Atendimentos
            </div>
            <h3 class="title-primary">Como podemos
                <span class="text-highlight">
                    ajudar seu filho?
                </span>
                </h3>
            <p class="description">Atendimento especializado para sintomas digestivos, alimentação infantil e acompanhamento gastroenterológico.</p>
        </div>
        
        <div class="container-card">        
            <div class="service-card card">
                <div class="icon-card">
                    🤢
                </div>

                <div class="content-card">
                    <h2 class="title-card">Refluxo e Sintomas Digestivos</h2>
                    
                    <p class="text-soft">
                        Acompanhamento para refluxo, dores abdominais, constipação e alterações gastrointestinais
                    </p>
                </div>
                
            </div>

            <div class="service-card card">
                <div class="icon-card">
                    🩺
                </div>

                <div class="content-card">
                    <h2 class="title-card">Avaliação Gastroenterológica</h2>
                    
                    <p class="text-soft">
                        Investigação cuidadosa para identificar alterações digestivas e sintomas persistentes
                    </p>
                </div>
                    
            </div>
            
            <div class="service-card card">
                <div class="icon-card">
                    ❤️
                </div>
                
                <div class="content-card">
                    <h2 class="title-card">Atendimento Individualizado</h2>
                    
                    <p class="text-soft">
                        Acompanhamento próximo e acolhedor respeitando as necessidades de cada criança
                    </p>
                </div>
            
            </div>
            
            <div class="service-card card">
                <div class="icon-card">
                    👶
                </div>

                <div class="content-card">
                    <h2 class="title-card">Desenvolvimento e Crescimento</h2>
                    
                    <p class="text-soft">
                        Avaliação do desenvolvimento infantil e acompanhamento da saúde em cada fase
                    </p>
                </div>
                    
            </div>
            
            <div class="service-card card">
                <div class="icon-card">
                    🛡️
                </div>

                <div class="content-card">
                    <h2 class="title-card">Saúde Digestiva e Prevenção</h2>
                    
                    <p class="text-soft">
                        Orientações para incentivar hábitos saudáveis e prevenir desconfortos digestivos
                    </p>
                </div>
                    
            </div>

            <div class="service-card card">
                <div class="icon-card">
                    🧸
                </div>

                <div class="content-card">
                    <h2 class="title-card">Bem-Estar e Rotina Infantil</h2>
                    
                    <p class="text-soft">
                        Acompanhamento pensado para oferecer mais conforto e qualidade de vida na infância
                    </p>
                </div>

            </div>
            
        </div>
    </div>
</section>

<section class="section-specialized-care">
    <div class="container">
        <div class="specialized-care-header">
            <div class="text-label">
                Atuação especializada
            </div>
            <h3 class="title-primary">
                Atuação especializada em 
                <span class="text-highlight">
                    saúde digestiva infantil
                </span>
            </h3>
            <p class="description">
                Acompanhamento gastroenterológico infantil com foco em acolhimento, desenvolvimento e cuidado individualizado.
            </p>
        </div>

        <div class="specialized-care-container">
            <div class="specialized-card">
                <div class="specialized-content">
                    <h2 class="title-card">Sintomas Gastrointestinais</h2>
                    
                    <p class="text-soft">
                        Investigação de sintomas gastrointestinais frequentes na infância,
                        com foco em diagnóstico e cuidado especializado.
                    </p>
                </div>
                    
                <ul class="specialized-list">
                    <li>
                        <span class="check-icon">✓</span>
                        Refluxo e desconfortos digestivos
                    </li>
                    <li>
                        <span class="check-icon">✓</span>
                        Constipação intestinal
                    </li>
                    <li>
                        <span class="check-icon">✓</span>
                        Dor abdominal recorrente
                    </li>
                    <li>
                        <span class="check-icon">✓</span>
                        Alterações intestinais
                    </li>
                </ul>
            </div>
            <div class="specialized-card">
                <div class="specialized-content">
                    <h2 class="title-card">Alergias e Alimentação Infantil</h2>
                    
                    <p class="text-soft">
                        Atendimento voltado às alergias alimentares e dificuldades 
                        relacionadas à alimentação infantil em diferentes fases da infância.
                    </p>
                </div>
                
                <ul class="specialized-list">
                    <li>
                        <span class="check-icon">✓</span>
                        APLV e alergias alimentares
                        </li>
                    <li>
                        <span class="check-icon">✓</span>
                        Seletividade alimentar
                    </li>
                    <li>
                        <span class="check-icon">✓</span>
                        Recusa alimentar na infância
                    </li>
                    <li>
                        <span class="check-icon">✓</span>
                        Introdução alimentar com dificuldades
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="about-section" id="sobre">
    <div class="about-container container">

        <img src="{% static 'home/img/drajanainasalgado.webp' %}"
        alt="Imagem médica Dra. Janaina Salgado em ambiente clínico"  
        loading="lazy"
        class="about-img">

        <div class="about-content">
            <div class="about-text-content">
                <h3 class="about-title">
                    Por que escolher
                    <span class="break text-highlight">a Dra. Janaina?</span>
                </h3>
                
                <div class="about-description">
                    <p class="about-specialty">
                        Gastropediatra com atuação voltada à saúde digestiva, alergias alimentares e dificuldades alimentares na infância.
                    </p>
                    
                    <p class="about-text">
                        Atendimento pensado para acompanhar crianças e famílias com 
                        escuta próxima, atenção individualizada e cuidado acolhedor.
                    </p>
                </div>
            </div>
                
            <ul class="about-mini-container">
                <li class="about-mini-item">
                    <span class="check-icon">✓</span>
                    <p class="about-item-text">
                        Especialista em Gastroenterologia Pediátrica
                    </p>
                </li>
                
                <li class="about-mini-item">
                    <span class="check-icon">✓</span>
                    <p class="about-item-text">
                        Especialista em alergia alimentar
                    </p>
                </li>

                <li class="about-mini-item"> 
                    <span class="check-icon">✓</span>
                    <p class="about-item-text">
                        Atendimento acolhedor e individualizado
                    </p>
                </li>

                <li class="about-mini-item">
                    <span class="check-icon">✓</span>
                    <p class="about-item-text">
                        Acompanhamento próximo da criança e da família
                    </p>
                </li>
                
                <li class="about-mini-item">
                    <span class="check-icon">✓</span>
                    <p class="about-item-text">
                        Ambiente pensado para o conforto infantil
                    </p>
                </li>
            </ul>

            <div class="about-actions">
                <a href="{% url 'agendar_consulta' %}" class="btn-schedule">
                    Agendar Consulta
                </a>

                <a class="btn-instagram btn-instagram-soft" 
                    href="https://instagram.com/drajanainagastroped"
                    target="_blank"
                    rel="noopener noreferrer">
                    <i class="fa-brands fa-instagram"></i>
                    Acompanhar Conteúdos
                </a>
            </div>
        </div>

    </div>
</section>

<section class="section-carousel" id="depoimentos">
    <div class="container">
        <div class="title-carousel">
            <div class="text-label">
                    Avaliações
                </div>
            <h3 class="title-primary">
                <span class="text-highlight">Depoimentos</span>
            </h3>
            <p class="description">Relatos de pais e responsáveis de pacientes acompanhados ao longo do tratamento.</p>
        </div>

        <div class="carousel-container">
            <div class="carousel-viewport">
                <div class="carousel-track" id="carouselTrack">
                    {% for item in carousel %}

                    <div class="carousel-card">
                        <div class="carousel-card-content">
                            <div class="quote">
                                <i class="fa-solid fa-quote-left" style="color: rgba(0,0,0,0.15);"></i>
                            </div>
                            
                            <div class="star"> 
                                {% for _ in item.stars_range %}
                                <i class="fa-solid fa-star" style="color: rgb(251, 206, 46);"></i>
                                {% endfor %}
                            </div>

                            <p>"{{ item.comment }}"</p>
                                
                        </div>
                    </div>

                    {% endfor %}
                
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta-final">
    <div class="container">
        <div class="title-cta">
            <div class="text-label">
                Cuidado especial
            </div>
            <h2 class="title-primary">Cuide da saúde digestiva do seu filho
                <span class="break text-highlight">com acompanhamento especializado</span>
            </h2>
            <p class="description">
                Orientação especializada para promover bem-estar,
                conforto e desenvolvimento saudável infantil.
            </p>
        </div>
        <div class="content-cta">        
            <a class="btn-cta" href="{% url 'agendar_consulta' %}">Acesse e agende sua consulta</a>
            <p class="tags">
                Atendimento humanizado • Consulta especializada • Acompanhamento infantil
            </p>
        </div>
    </div>
</section>


{% endblock %}

{% block extra_scripts %}

<script>

    //DOM Elements
    const track = document.getElementById("carouselTrack");
    const cards = document.querySelectorAll(".carousel-card");

    let currentIndex = 0;

    const totalCards = cards.length;

    function nextSlide() {
        currentIndex = (currentIndex + 1) % totalCards;

        track.style.transform = 
            `translateX(-${currentIndex * 100}%)`;
    }

    // Autoplay
    setInterval(nextSlide, 4000);

</script>

{% endblock %}